In [1]:
import pandas as pd
import scv
import matplotlib
from faker import Faker

In [2]:
with open(r"C:\Users\maxbo\Downloads\project\python-portfolio-project-starter-files\insurance.csv", newline='') as analysis:
    check = analysis.read()
    #print(check)

In [3]:
analysis = pd.read_csv(r"C:\Users\maxbo\Downloads\project\python-portfolio-project-starter-files\insurance.csv") 
print(analysis)

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

In [4]:
counts = analysis.value_counts('sex')
print(counts)

sex
male      676
female    662
dtype: int64

In [5]:
fake = Faker()
faker_female = []
faker_male = []

for i in range(0, 662):
    faker_female.append(fake.name_female())
    #print(fake.name())

for i in range(0, 676):
    faker_male.append(fake.name_male())
    #print(fake.name())

In [6]:
male = analysis[analysis.sex == 'male']
female = analysis[analysis.sex == 'female']
male.insert(0, 'name', faker_male)
female.insert(0, 'name', faker_female)

In [7]:
print(female)
print(male)

                   name  age     sex    bmi  children smoker     region  \
0     Elizabeth Gardner   19  female  27.90         0    yes  southwest
5         Brittany Ball   31  female  25.74         0     no  southeast
6          Maria Wilson   46  female  33.44         1     no  southeast
7         Brooke Sutton   37  female  27.74         3     no  northwest
9      Kristina Simmons   60  female  25.84         0     no  northwest
...                 ...  ...     ...    ...       ...    ...        ...
1332      Melissa White   52  female  44.70         3     no  southwest
1334     Lisa Hernandez   18  female  31.92         0     no  northeast
1335      Laura Edwards   18  female  36.85         0     no  southeast
1336   Emily Villanueva   21  female  25.80         0     no  southwest
1337      Cindy Goodwin   61  female  29.07         0    yes  northwest

          charges
0     16884.92400
5      3756.62160
6      8240.58960
7      7281.50560
9     28923.13692
...           ...
1332  11411.68500
1334   2205.98080
1335   1629.83350
1336   2007.94500
1337  29141.36030

[662 rows x 8 columns]
                 name  age   sex     bmi  children smoker     region  \
1       Jeffrey Lewis   18  male  33.770         1     no  southeast
2      Eduardo Snyder   28  male  33.000         3     no  southeast
3       Caleb Wheeler   33  male  22.705         0     no  northwest
4        Jeffrey Nash   32  male  28.880         0     no  northwest
8      David Williams   37  male  29.830         2     no  northeast
...               ...  ...   ...     ...       ...    ...        ...
1324      Alex Golden   31  male  25.935         1     no  northwest
1325  Darin Nicholson   61  male  33.535         0     no  northeast
1327       John Crane   51  male  30.030         1     no  southeast
1329        Eric Ford   52  male  38.600         2     no  southwest
1333       Randy Wood   50  male  30.970         3     no  northwest

          charges
1      1725.55230
2      4449.46200
3     21984.47061
4      3866.85520
8      6406.41070
...           ...
1324   4239.89265
1325  13143.33665
1327   9377.90470
1329  10325.20600
1333  10600.54830

[676 rows x 8 columns]

In [8]:
analysis = pd.concat([male, female])

In [9]:
analysis = analysis.sort_values(by='name', ascending = True)
analysis = analysis.round({'charges': 2, 'bmi': 2 })
print(analysis)

                   name  age     sex    bmi  children smoker     region  \
222         Aaron Brown   32    male  30.80         3     no  southwest
793          Aaron Dean   53    male  20.90         0    yes  southeast
1216        Aaron Dixon   40    male  25.08         0     no  southeast
355          Aaron Howe   46    male  27.60         0     no  southwest
756      Abigail Murphy   39  female  22.80         3     no  northeast
...                 ...  ...     ...    ...       ...    ...        ...
1009       Xavier Smith   51    male  27.74         1     no  northeast
201       Yolanda Ponce   48  female  32.23         1     no  southeast
207       Zachary Adams   35    male  27.74         2    yes  northeast
294       Zachary Jones   25    male  26.80         3     no  southwest
269   Zachary Middleton   49    male  25.84         1     no  northeast

       charges
222    5253.52
793   21195.82
1216   5415.66
355   24603.05
756    7985.82
...        ...
1009   9957.72
201    8871.15
207   20984.09
294    3906.13
269    9282.48

[1338 rows x 8 columns]

In [10]:
avg_male = male.charges.mean().round(2)
avg_female = female.charges.mean().round(2)
difference_avg = round((avg_male -avg_female),2) 
print('For men the average is charges: ' + str(avg_male) + '$')
print('For female the average is charges: ' + str(avg_female) + '$')
print('Difference average: ' + str(difference_avg) + '$')

For men the average is charges: 13956.75$
For female the average is charges: 12569.58$
Difference average: 1387.17$

In [11]:
max_children = analysis.children.max()
max_children = analysis[analysis['children']>=5]
max_children = max_children.charges.mean().round(2)
children4 = analysis[analysis['children']>=4]
children4 = children4.charges.mean().round(2)
children3 = analysis[analysis['children']>=3]
children3 = children3.charges.mean().round(2)

print('If 5 childrean mean = ' + str(max_children))
print('If 4 childrean mean = ' + str(children4))
print('If 3 childrean mean = ' + str(children3))

If 5 childrean mean = 8786.04
If 4 childrean mean = 11730.58
If 3 childrean mean = 14576.0

In [12]:
smoke = analysis[analysis['smoker']== 'yes']
smoke_max = smoke.charges.max().round(2)
smoke_mix = smoke.charges.min().round(2)
smoke_avg = smoke.charges.mean().round(2)

print('smoke max charges = ' + str(smoke_max))
print('smoke min charges = ' + str(smoke_mix))
print('smoke avg charges = ' + str(smoke_avg))

smoke max charges = 63770.43
smoke min charges = 12829.46
smoke avg charges = 32050.23

In [13]:
max_charg = analysis.sort_values(by='charges', ascending = False)
print(max_charg.head(3))

                name  age     sex    bmi  children smoker     region   charges
543      Marie Weber   54  female  47.41         0    yes  southeast  63770.43
1300     Chad Thomas   45    male  30.36         0    yes  southeast  62592.87
1230  Edwin Castillo   52    male  34.48         3    yes  northwest  60021.40

In [14]:
southeast = analysis[analysis['region']== 'southeast']
southeast = southeast.name.count()
northwest = analysis[analysis['region']== 'northwest']
northwest = northwest.name.count()
print(southeast)
print(northwest)
print('Difference: ' + str(southeast-northwest))

364
325
Difference: 39

In [49]:
southeast_mean = analysis[analysis['region']== 'southeast'].charges.mean().round(2)
northwest_mean = analysis[analysis['region']== 'northwest'].charges.mean().round(2)
southeast_median = analysis[analysis['region']== 'southeast'].charges.median().round(2)
northwest_median = analysis[analysis['region']== 'northwest'].charges.median().round(2)

print('Mean in southeast: ' + str(southeast_mean))
print('Mean in southeast: ' + str(northwest_mean))
print('Median in southeast: ' + str(southeast_median))
print('Median in southeast: ' + str(northwest_median))
mm = (round(southeast_mean - southeast_median),2)
mm2 = (round(northwest_mean - northwest_median),2)
print('Difference between mean and median in southeast ' + str(mm))
print('Difference between mean and median in northwest ' + str(mm2))

Mean in southeast: 14735.41
Mean in southeast: 12417.58
Median in southeast: 9294.13
Median in southeast: 8965.8
Difference between mean and median in southeast (5441, 2)
Difference between mean and median in northwest (3452, 2)